<app-header titulo="alert"></app-header>

<ion-content class="ion-padding">

    <ion-button (click)="presentAlert()" expand="block" >
        Simple Alert 
    </ion-button>

    <ion-button (click)="presentAlertMultiple()" expand="block" >
        Multiple Alert
    </ion-button>

    <ion-button (click)="presentAlertMultiplePersonalize()" expand="block" >
        Multiple Alert Personalize
    </ion-button>

    <ion-button (click)="presentAlertPrompt()" expand="block" >
        Prompt Alert
    </ion-button>

</ion-content>
