<app-header titulo="card"></app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Here's a small text description for the card content.
      Here's a small text description for the card content.
      Here's a small text description for the card content.
      Here's a small text description for the card content
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fichef.bbci.co.uk%2Fnews%2F976%2Fcpsprodpb%2F8EAB%2Fproduction%2F_84232563_solidsnake2.png&f=1&nofb=1&ipt=ff5dce13b037cda5713e526ac1a842c74f22ed18145c3db439c5028a721a9a5f&ipo=images" alt="Snake">
    <ion-card-content>
      Here's a small text description for the card content.
      Here's a small text description for the card content.
      Here's a small text description for the card content.
      Here's a small text description for the card content
    </ion-card-content>
  </ion-card>

</ion-content>
